@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.inputs {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
}
